*{
margin: 0px;
padding: 0px;
}
.RubriekNav{
  margin: 0px ;
  
}


.Logo{
  width: 150px;
  height: 120px;
  
}
#loginbutton{
  margin: auto;
  background-color: #F2552C;
  width: 200px;
  
}
#loginbutton:hover{
  margin: auto;
  background-color: black;
  
}

#searchbutton{
margin: auto;
background-color: #F2552C;
width: 75px;

}

#searchbutton:hover{
  margin: auto;
  background-color: black;
  
}

.menu-text{
margin: 35px 0px 0px 0px ;
font-size: 20px;
}



.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
  
}

.NavRubriekAside{
display: flex;
justify-content: space-between;
flex-direction: column;
float:left;
width: auto;
margin-bottom: 100%;

}


#NavRubriek {
  background:#F2552C;
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 0px;
  
  vertical-align: center; 
  width: 200px;
  border-bottom: 1px solid black;
  
  font-size: auto;
}
#NavRubriek:hover{
width: 250px;
border-bottom:  solid black;
font-size: 35px;
}

.HomepaginaContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.HomepaginaKopjes{
  font-size: 30px;
}
article
{
    width: 20%;
    border-style: solid;
    padding: 2px;
    margin: 3px;
    min-width: 200px;
}


footer{
  border-top: 1px solid #F2552C;
  padding: 10px 0px;
  text-align: center;
  position: relative;
}

