.collapsible {
  background-color: #F2552C;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #F2552C;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.MobielZoekProduct{
  display: none;
}


li{
  list-style-type: none;
}
.top-bar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: fit-content;
  
}
.Top-bar-links{
  
  width: fit-content;
  height: 100%;
}
.top-bar-middle{

 width: 58%;
  height: 100%;
}
.top-bar-rechts{
  height: 100%;
}
.ZoekProduct{
  display: flex;
  width: 80%;
}
.InputZoekProduct{
  width: 100%;
  float: left;
}
.ProductButton{
  width: 100%;
  margin-bottom: -5px;
}
.ZoekRubrieken{
  width: fit-content;
}

.InlogpaginaKopje {
  text-align: center;
  border-bottom: 1px solid #F2552C;
}

.loginbutton{
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: solid;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginbutton:hover{
  background-color: black;
  border-radius: 0px;
}

.uitlogknop>input{
  text-decoration: none;
  all: unset;
}

.Logo{
  height: 100px;
  
}

.dropdown-pane{
 
}



/*Progressbar*/


.progress-indicator {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;
}

.progress-indicator > li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 1.5em;
}

.progress-indicator > li span {
  position: absolute;
  color: #e6e6e6;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 600;
  font-size: 0.82rem;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}



.progress-indicator > li::before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #e6e6e6;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 1.5em;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}

.progress-indicator > li::after {
  content: '';
  position: absolute;
  display: block;
  background: #e6e6e6;
  width: 100%;
  height: 0.15em;
  top: 50%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 50%;
  margin-left: 1.5em\9;
  z-index: 0;
}

.progress-indicator > li:last-child:after {
  display: none;
}

.progress-indicator > li.is-complete {
  color: #2CC9F2;
}

.progress-indicator > li.is-complete::before, .progress-indicator > li.is-complete::after {
  color: #fefefe;
  background: #2CC9F2;
}

.progress-indicator > li.is-complete span {
  color: #2CC9F2;
}

.progress-indicator > li.is-current {
  color: #a4e8f9;
}

.progress-indicator > li.is-current::before {
  color: #fefefe;
  background: #a4e8f9;
}

.progress-indicator > li.is-current span {
  color: #a4e8f9;
}

/*Registratie*/
.tooltip {
  position: relative;
  display: inline;
  background: none;
  color: black;
}

.tooltip .tooltiptext {
  visibility: visible;
  width: 120px;
  text-align: left;
  border-radius: 6px;
  padding: 3px 0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  opacity: 0.7;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.side-label::after {
  display: none;
}

input:checked + .side-label::after {
  display: block;
}

.wel-verkopergegevens, .controle-creditcard-gegevens{
  display: none;
}

#wel:checked ~ .wel-verkopergegevens , #controle-creditcard:checked ~ .controle-creditcard-gegevens {
  display: block;
}

.small-input{
  display: inline-block;
  width: 49.77%;
}

.rechts {
  /*float: right;*/
  display: flex;
  justify-content: flex-end;
}

.links {
  display: flex;
  justify-content: flex-start;
  
}

.lijn{
  border-left: solid #F2552C 1px;
}

.klok{
  font-size: 25px;
}
.img-product {
  position: relative;
  float: left;
  width:  600px;
  height: 400px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

/**/

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
}

.ContainerFooter{
  width: 100%;
}

.HomePageTitel{
  border-bottom: #F2552C 1px solid;
}

.ContainerFooterLinks{
  width: 600px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
}
.ContainerFooterMidden{
  width: 350px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
}
.ContainerFooterRechts{
  width: 350px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
}


.ProductenContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  height: fit-content;
  padding: 10px;
  margin: 5px;
}
.MobileNav{
  display:none;
}
.MobielSearch{
  display:none;
}




@media only screen and (max-width: 768px){
  .ProductenContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  .RubProductInfo{
    font-size: auto;
  }
  .RubProductenOm{
    display:none;
  }
  .RubProductImg{
    text-align: center;;
  }
 
  .ZoekProduct{
    display: none;
    
  }
  .RubNav{
    display: none;
  }
  .MobileNav{
    display: block;
  
  }
  .MobielSearch{
    display: block;
    width: 100px;
    height: 100px;
    background-color: black;
  }
  .MobielZoekProduct{
    display:block;
  }
  .top-bar-middle{
    display:none;
    
  }
  h3{
    font-size: 24px;
    font-weight: bold;
  }
  
}
.MobielLogo{
  display: none;
}

@media only screen and (max-width: 425px){
  .MobielLogo{
    display: block;
  }
  .DesktopLogo{
    display: none;
  }
}
@media only screen and (max-width: 320px){
  .MobielLogo{
    margin: center;
  }

}


.multilevel-accordion-menu .is-accordion-submenu-parent a {
  background: #F2552C;
}

.multilevel-accordion-menu .is-accordion-submenu a {
  background: rgb(255, 130, 98);
}

.multilevel-accordion-menu .sublevel-1 {
  text-indent: 1rem;
}

.multilevel-accordion-menu .sublevel-2 {
  text-indent: 2rem;
}

.multilevel-accordion-menu .sublevel-3 {
  text-indent: 3rem;
}

.multilevel-accordion-menu .sublevel-4 {
  text-indent: 4rem;
}

.multilevel-accordion-menu .sublevel-5 {
  text-indent: 5rem;
}

.multilevel-accordion-menu .sublevel-6 {
  text-indent: 6rem;
}

.multilevel-accordion-menu a {
  color: #fefefe;
  box-shadow: inset 0 -1px #41444a;
}

.multilevel-accordion-menu a::after {
  border-color: #fefefe transparent transparent;
}

.multilevel-accordion-menu .menu > li:not(.menu-text) > a {
  padding: 1.2rem 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a.subitem::before {
  content: "\f016";
  font-family: FontAwesome;
  margin-right: 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a::before {
  content: "\f07c";
  font-family: FontAwesome;
  margin-right: 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="false"] a::before {
  content: "\f07b";
  font-family: FontAwesome;
  margin-right: 1rem;
}


.holy-grail-footer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.FilterPrijs{
  
}

.FilterZoek{
  width: 400px;
  order: -1;

}

#input-select,
#input-number {
	padding: 7px;
	margin: 15px 5px 5px;
	width: 70px;
}

.noUi-horizontal {
    height: 10px;
    margin-bottom: 30px;
}
.noUi-horizontal .noUi-handle {
    width: 30px;
    height: 30px;
    left: -17px;
    top: -10px;
    border-radius: 50%;
    outline: 0;
}



.FilterContainer{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.center{
  text-align: center;
  align-items: center;
}

.prijsbreedte {
  width: 100px;
}

.rubrieken { 
  display: flex;
  width: auto; 
  border: 1px solid #F2552C;
}



.rubriekenContainer
{
    display: flex;
    flex-direction: column;
}
.ContainerRubriekenfilter{
  width: 100%;
}

.RubriekenProducten {
  display: flex;
  width: auto;
  height: fit-content;
  border: solid 1px grey ;
  padding: 3px;
  background: white;
  box-shadow: 1px 2px 2px;  
}
.RubriekenProducten .RubProductenOm{
  max-width: 800px;
}

.RubProductenOm{
  
}
.RubProductInfo h4{
  font-size: 14px;
  float: right;
}
.RubProductInfo a{
  float: right;
}
.RubProductImg{
  width: 200px;
  height:100%;
  
}

.veilingknop {
  width: 100%
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: fit-content;
  max-width: 250px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 10px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card img {
  width: auto;
  height: auto;
}

body{
  background-color: rgb(10, 168, 207);
}

.Product button {
  color: white;
  background-color: #F2552C;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.Product button:hover {
  background-color: black;
  cursor: pointer;
}

/* GRIDDDDD */

.holy-grail-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 0.8fr 3fr 0fr;
  -ms-grid-rows: 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 15px;
  height: 100vh;
}

@media screen and (max-width: 60em) {
  .holy-grail-grid {
    -ms-grid-rows: 2fr 1fr 5fr 1fr;
        grid-template-rows: 2fr 1fr 5fr 1fr;
  }
}



.holy-grail-left{
  height: fit-content;
  box-shadow: black 5px 5px 5px;
  padding: 1rem;
  border: 1px solid #ededed;
  width: 100%;
  background: #F2552C;
}


.holy-grail-middle,
.holy-grail-right,
.holy-grail-footer {
  box-shadow: black 5px 5px 5px;
  padding: 1rem;
  border: 1px solid #ededed;
  background-color: rgb(255, 255, 255);
}

.holy-grail-header {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
}


@media screen and (max-width: 60em) {
  .holy-grail-left {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .holy-grail-middle {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .right-nav {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

/* EINDE GRID */


.contact-us-section {
  padding: 2rem;
  background: #fefefe;
}

.contact-us-section .contact-us-section-left {
  padding-right: 2rem;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

@media print, screen and (min-width: 40em) {
  .contact-us-section .contact-us-section-left {
    border-right: 1px solid #e6e6e6;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.contact-us-section .contact-us-section-right {
  padding-left: 2rem;
}

@media print, screen and (min-width: 40em) {
  .contact-us-section .contact-us-section-right {
    border-left: 1px solid #e6e6e6;
  }
}

.contact-us-section .contact-us-header {
  margin-bottom: 2rem;
}

@media screen and (min-width: 40em) and (max-width: 74.9375em) {
  .contact-us-section .contact-us-header {
    font-size: 32px;
  }
}

.contact-us-section .responsive-embed {
  margin-bottom: 0;
  padding-bottom: 55%;
}

.contact-us-form input[type=text],
.contact-us-form input[type=email],
.contact-us-form textarea {
  margin-bottom: 1.5rem;
}

.contact-us-form-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us-form-actions input[type=submit] {
  border-radius: 5000px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact-us-form-actions .contact-us-file-button {
  background: transparent;
  color: #8a8a8a;
}

.contact-us-list {
  list-style-type: none;
  margin: 0;
}

.contact-us-list li a {
  color: #0a0a0a;
}

.contact-us-list li::before {
  margin-right: 2rem;
  font-size: 2rem;
  vertical-align: middle;
  color: #8a8a8a;
  font-family: 'FontAwesome';
}





