*{
  margin: 0px;
  padding: 0px;
}


.fi-star {
  margin-top: 1%;
}

.Logo{
  width: 150px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid black;
}
#loginbutton{
  margin: auto;
  background-color: #F2552C;
  width: 200px;
  border-radius: 2px;
  box-shadow:   3px 3px #ccc;
}


#loginbutton:hover{
  margin: auto;
  background-color: black;
  border-radius: 0px;
}

#search{
  background-color: #F2552C;
  width: 75px;
}

#search:hover{
  margin: auto;
  background-color: black;
  
}

.menu-text{
  margin: 35px 0px 0px 0px ;
  font-size: 20px;
}



.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
  
  margin-right: 20px;
  
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
  
}

.NavRubriekAside{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  float:left; 
}





/*   HOME pagina artikelen   */

.Product-grid-container {
  display: flex;
  justify-content: center;
  
  
}
.Product-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 150px;
  
  
}
.Product-grid-item {
    width: 27%;

    border: solid 1px grey ;
    padding: 2px;
    margin: 5px;
    box-shadow: #1E1E23 2px 2px 2px;
    
}

.Product-grid-item:hover{
  border: solid 2px #F2552C ;
}

.Product-grid-item img{
 
  width: 150px;
  height: 150px;
}

.HomepaginaKopjes{
  font-size: 30px;
  padding-top: 2%;
  margin-bottom: 2%;
  margin-left: 22.5%; 
  border-bottom: solid #F2552C 1px;
  
}
.Product-Flex-End{
  
}







#footer { 
  
  display: table;
   width: 100%; 
   table-layout: fixed;
   border-top: 1px solid #F2552C;
  margin-top: 30px;
  padding: 10px 10px 10px 10px;
  position: relative;
  background: #A4E8F9;

}
#footer > div { 
  display: table-cell;
  
}

#footer a{
  color: black;
}
.FooterItems{
  
}

.center{
  text-align: center;
}

.column{
  display:flex;
  flex-direction: column;
  list-style: none;
  
  margin: 0% 5%;
}

.row{
  display:flex;
  flex-direction: row;
  list-style: none;
}

/*Registratie pagina*/

.tooltip {
  position: relative;
  display: inline;
  background: none;
  color: black;
}

.tooltip .tooltiptext {
  visibility: visible;
  width: 120px;
  text-align: left;
  border-radius: 6px;
  padding: 3px 0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  opacity: 0.7;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.body-tekst {
 margin-left: 21em;
 margin-right: 14em;
}

.label-next {
  display: inline-block;
}

.a-op-wit{
  color:#F2552C;
}


.progress-indicator {
  list-style: none;
  width: 75%;
  margin: 1em auto;
  padding: 0;
  display: table;
  table-layout: fixed;
}

.progress-indicator > li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 1.5em;
}

.progress-indicator > li span {
  position: absolute;
  color: #e6e6e6;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}

.progress-indicator > li::before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #e6e6e6;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 1.5em;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}

.progress-indicator > li::after {
  content: '';
  position: absolute;
  display: block;
  background: #e6e6e6;
  width: 100%;
  height: 0.15em;
  top: 50%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 50%;
  margin-left: 1.5em\9;
  z-index: 0;
}

.progress-indicator > li:last-child:after {
  display: none;
}

.progress-indicator > li.is-complete {
  color: #1779ba;
}

.progress-indicator > li.is-complete::before, .progress-indicator > li.is-complete::after {
  color: #fefefe;
  background: #1779ba;
}

.progress-indicator > li.is-complete span {
  color: #1779ba;
}

.progress-indicator > li.is-current {
  color: #4eabe9;
}

.progress-indicator > li.is-current::before {
  color: #fefefe;
  background: #4eabe9;
}

.progress-indicator > li.is-current span {
  color: #4eabe9;
}

.inlogpaginaContainer {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.inlogpaginaContainer a {
  color: #F2552C;
  border-bottom: 1px solid #F2552C;  
}

.InlogpaginaKopje {
  text-align: center;
  border-bottom: 1px solid #F2552C;
}


.inlogbutton {
  background-color: #F2552C;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: solid;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.inlogbutton:hover {
  background-color: black;
}

a { 
  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.yellow {
  color: rgb(255, 186, 0);
}

.grey {
  color: grey;
}



.productfotocontainer{
  border: 3px solid #F2552C;
  width: 40%;
  height: 540px;
  float: left;
  margin-left: 3%;
}

.productfotocontainer>img{
  width: 70%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.productfotocontainer>ul{
  border-top: 3px solid #F2552C;
  margin-left: 1px;
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}

.productfotocontainer>ul>li{
  border: 1px solid black;
  width: 20%;
}


.producttekstcontainer{
  border: 3px solid #F2552C;
  width: 40%;
  height: 540px;
  float: left;
  margin-left: 3%;
  padding-left: 1%;
}

.producttekstcontainer>h1{
  text-align: center;
  font-size: 3em;
  margin-bottom: 0px;
  padding-left: -1%;
}

.producttekstcontainer>h4{
  font-size: 1.2em;
}

.producttekstcontainer i:nth-child(2){
  margin-left: 5%;
}

.producttekstcontainer> p{
  margin-right: 2%;
}

.producttekstcontainer .productprijzen:nth-child(2){
  margin-left: 20%;
}

.producttekstcontainer .tijd{
  border: 1px solid #F2552C;
  width: 3em;
  text-align: center;
}

#productopeningstijd{
  margin-left: 2%;
}

.producttekstcontainer>div>ul>li:nth-child(2), .producttekstcontainer>div>ul>li:nth-child(3){
  border-left: none;
}


.productbieders{
  float: left;
  margin-left: 15%;
}

.productbieders>ul>li{
  margin-top: 2em;
  border: 3px solid #F2552C;
  width: 70em;
  
  display: flex;
  justify-content: space-around;
}

.productbieders>ul>li>img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
}

.productbieders>ul>li>h2{
  margin-top: 2%;
  margin-left: 2%;
}

.productbieders>ul>li>p{
  font-size: 2em;
  margin-top: 2%;
}

/* navigatie */

/* Reset */
.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}



.nav a { text-decoration: none; }

.nav li { list-style: none; }

/* Menu Container */
.nav {
	display: inline-block;
	position: relative;
	
	cursor: default;
	z-index: 500;
}

/* Menu List */
.nav > li {
	display: block;
	
	
}

/* Menu Links */
.nav > li > a {
	position: relative;
	
	display: block;
	z-index: 510;
	height: 54px;
	padding: 0 20px;
	line-height: 54px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: hsl(0, 2%, 82%);
	text-shadow: 0 0 1px rgba(0,0,0,.35);

	background: #f2552c;
	box-shadow: black 2px 2px 20px;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.nav > li:hover > a { 
  
  background: #f83f11;
  color: white;
}

.nav > li:first-child > a {
	
	border-left: none;
}


/* Menu Dropdown */
.nav > li > div {
	position: absolute;
	
	top: 50px;
	left: 200px;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	width: 1000px;
	background: #ffffff;
	border-radius: 0 0 3px 3px;

	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
}

.nav > li:hover > div {
	
	opacity: 1;
	visibility: visible;
	
	overflow: visible;
}



/* Menu Content Styles */
.nav .nav-column {
	
	float: left;
	width: 20%;
	padding: 2.5%;
	
}

.nav .nav-column h3 {
	
	line-height: 18px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #372f2b;
	text-transform: uppercase;
}

.nav .nav-column h3.orange { color: #ff722b; }

.nav .nav-column li a {
	display: block;
	line-height: 26px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #888888;
}

.nav .nav-column li a:hover { color: #666666; 

}



/* home screen afbeelding */ 


.hero-full-screen {
  height: 350px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../Images/auction-home-page.png") center center no-repeat ;
  background-size: 100%;
}



.hero-full-screen .middle-content-section {
  text-align: center;
  color: #fefefe;
}





.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background: transparent;
  
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #fefefe;
}





.rubriekenContainer img {
  width: 200px;
  height:200px;
  z-index: 100;
  border-image: 3px black;
  float: left;
}

h3 {
  padding: 0;
}
